<div class="card">
  <div class="card-header">
    <span [translate]="'Profile.ModuleTitle'"></span>
    <div class="card-header-actions" [ngClass]="{'text-loading':loading}">
      <span>
        <small>{{profile.studyProgram.name}}</small>
      </span>
    </div>
  </div>
  <div class="card-body">
      <div class="text-center">
        <i class="card-icon icon-user pt-2"></i>
          <div class="pt-4 font-2xl" [ngClass]="{'text-loading':loading}">
              <span>{{profile.person.name}}</span>
          </div>
          <div class="pt-2" [ngClass]="{'text-loading':loading}">
              <span>{{profile.department.name}}</span>
          </div>
          <div  class="pt-2 font-xl" [ngClass]="{'text-loading':loading}">
              <span>{{profile.inscriptionYear.name}} {{profile.inscriptionPeriod.name}}</span>
          </div>
          <div  class="font-2xl" [ngClass]="{'text-loading':loading}">
              <span>{{profile.studentStatus.name}}</span>
          </div>

      </div>
  </div>
</div>
